<html>
    <style>
        body {font-family: Arial, Helvetica, sans-serif; background-color:#141b2e;}
            
        .image-container {
            background-size: cover;
            position: relative;
            height: 200px;
            float: left;
        }
                
        .text {
            background-color: rgb(211, 178, 178);
            color: black;
            font-size:  8vw; 
            font-weight: bold;
            margin: 0 auto;
            padding: 0px;
            width: 50%;
            text-align: center;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            mix-blend-mode: screen;

        }
          
    </style>

    <a href="/home">Home</a>
    <div class="image-container"></div>
            <div class="text">Random 2</div>
    
</html>